<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fechas</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onAddFecha()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" *ngIf="loadedFechas.length <= 0">
    <div>
      <strong>No se han registrado fechas</strong>
    </div>
    <div>
      <ion-button (click)="onAddFecha()">Nueva Fecha</ion-button>
    </div>
  </div>
  <div *ngIf="loadedFechas.length > 0">
    <ion-grid *ngFor="let fecha of loadedFechas" >
      <ion-row>
        <ion-col>
          <div class="ion-text-center">
            <ion-card (click)="onOpen(fecha.id)">
              <ion-card-header>
                <ion-card-title> Fecha Depilacion </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <h1>{{ fecha.date | date }}</h1>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
