ion-item h4 {
    margin-right: 40px;
}

p {
    margin-left: 15px;
}

ion-footer ion-button{
    margin-left: 45%;
    margin-bottom: 10px;
}

section {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }